<main>
  <app-learning-resources />

  <hr />

  <app-auth />

  <!-- @if (isAdmin()) {
    <p>Only admins!</p>
  } -->
  <!-- <p appAuth="admin">Only Admins</p> -->
	
	<!-- <ng-template appAuth="admin">
		<p>Only Admins</p>
	</ng-template> -->
	<!-- Alternative method to the above (13 - 15) -->
	<p *appAuth="'admin'" class="protected-content admin">Only Admins!</p>
	<p *appAuth="'user'" class="protected-content unauthenticated">Only Users!</p>
	<p *appAuth="'guest'" class="protected-content authenticated">Only Guests!</p>
</main>